.container {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: row;
}

.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:  #00ada7;
  font-size: 40px;
}