.flex-container {
  display: flex;
  height: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.user-toy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  width: 60%;
}

.toy-input-form {
  width: 35%;
  padding: 20px;
}
