.edit-container {
  margin-top: 24px;
}

#edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sixty-percent-width {
  width: 60%;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 3px;
  width: 60%;
  font-size: 15px;
}

textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  font-size: 18px;
}

.top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  justify-content: center;
}

.description-container {
  padding: 10px;
  width: 70%;
}

label {
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.submit-button {
  color: #f2f2f2;
  background-color: #00807b;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #f1cb83;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

submit-button:active {
  transform: translateY(2px);
  cursor: pointer;
}
