.edit-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 24px auto;
}

#edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border: 5px solid #a7dbc5ff;
  border-radius: 10px;
}

/* 
There is some styling bleeding from other components. 
For this page, we want all inputs to have a font size of 15px.
*/
#edit_form input {
  font-size: 15px;
}

/* 
There is some styling bleeding from other components. 
For this page, we want all labels to have a font size of 15px.
*/
#edit_form label {
  font-size: 15px;
}

/* 
Create Space in between the input checkboxes
*/
.edit-form label {
  margin: 0 5px;
}

/* 
Make the on loan checkbox prominent
*/
label#on-loan-checkbox {
  font-size: 20px;
  margin: 8px 0;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-input {
  width: 100%;
}

.toy-form-fieldset.edit-form {
  margin-top: 5px;
}

.toy-form-input.futsy-size {
  width: 94%;
}

.top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  justify-content: center;
}

label {
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

/* Not entirely sure if I need to use this later. Commenting out for now. */
/* .submit-button {
  color: #f2f2f2;
  background-color: #00807b;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #f1cb83;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

submit-button:active {
  transform: translateY(2px);
  cursor: pointer;
} */
