.css-h93ljk-MuiTypography-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 0.35em;
}

.css-185gdzj-MuiCardHeader-root {
  padding: 0px; 
}
