/* CSS HEX */
--tiffany-blue: #A7DBC5ff;
--hunyadi-yellow: #FDB348ff;
--bittersweet: #FF5B4Fff;
--pistachio: #91CE66ff;
--rust: #B74A25ff;

/* CSS HSL */
--tiffany-blue: hsla(155, 42%, 76%, 1);
--hunyadi-yellow: hsla(35, 98%, 64%, 1);
--bittersweet: hsla(4, 100%, 65%, 1);
--pistachio: hsla(95, 51%, 60%, 1);
--rust: hsla(15, 66%, 43%, 1);

/* SCSS HEX */
$tiffany-blue: #A7DBC5ff;
$hunyadi-yellow: #FDB348ff;
$bittersweet: #FF5B4Fff;
$pistachio: #91CE66ff;
$rust: #B74A25ff;

/* SCSS HSL */
$tiffany-blue: hsla(155, 42%, 76%, 1);
$hunyadi-yellow: hsla(35, 98%, 64%, 1);
$bittersweet: hsla(4, 100%, 65%, 1);
$pistachio: hsla(95, 51%, 60%, 1);
$rust: hsla(15, 66%, 43%, 1);

/* SCSS RGB */
$tiffany-blue: rgba(167, 219, 197, 1);
$hunyadi-yellow: rgba(253, 179, 72, 1);
$bittersweet: rgba(255, 91, 79, 1);
$pistachio: rgba(145, 206, 102, 1);
$rust: rgba(183, 74, 37, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-right: linear-gradient(90deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-bottom: linear-gradient(180deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-left: linear-gradient(270deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-top-right: linear-gradient(45deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-bottom-right: linear-gradient(135deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-top-left: linear-gradient(225deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-bottom-left: linear-gradient(315deg, #A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);
$gradient-radial: radial-gradient(#A7DBC5ff, #FDB348ff, #FF5B4Fff, #91CE66ff, #B74A25ff);